In [1]:
import pandas as pd

In [2]:
train_data_raw = pd.read_csv('/content/data_raw/train.csv')

In [3]:
train_data_raw.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [4]:
# dropping the unnamed column from the dataset
train_data_raw.drop(train_data_raw.columns[0], axis=1, inplace=True)

In [5]:
train_data_raw.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

a) Look for the missing values in all the columns and either impute them (replace with mean, median, or mode) or drop them. Justify your action for this task.

In [6]:
# Identify missing values in all columns
missing_values = train_data_raw.isna().sum()

In [7]:
for column in missing_values.index:
    if missing_values[column] > 0:
        if train_data_raw[column].dtype == 'object':
            # Replace missing values with the mode (most common value), for categorical columns
            mode_value = train_data_raw[column].mode()[0]
            train_data_raw[column].fillna(mode_value, inplace=True)
        else:
            # Replace missing values with mean, for numerical columns
            mean_value = train_data_raw[column].mean()
            train_data_raw[column].fillna(mean_value, inplace=True)

In [8]:
train_data_raw.head(40)

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,4.78 Lakh,12.50
1,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,4.78 Lakh,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,4.78 Lakh,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,4.78 Lakh,3.50
5,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
6,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,4.78 Lakh,5.20
7,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.3 kmpl,1248 CC,74 bhp,5.0,4.78 Lakh,1.95
8,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95
9,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,Petrol,Automatic,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,4.78 Lakh,4.49
10,Maruti Swift VDI BSIV,Jaipur,2015,64424,Diesel,Manual,First,25.2 kmpl,1248 CC,74 bhp,5.0,4.78 Lakh,5.60
11,Land Rover Range Rover 2.2L Pure,Delhi,2014,72000,Diesel,Automatic,First,12.7 kmpl,2179 CC,187.7 bhp,5.0,4.78 Lakh,27.00
12,Land Rover Freelander 2 TD4 SE,Pune,2012,85000,Diesel,Automatic,Second,0.0 kmpl,2179 CC,115 bhp,5.0,4.78 Lakh,17.50
13,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00
14,Honda Amaze S i-Dtech,Kochi,2016,58950,Diesel,Manual,First,25.8 kmpl,1498 CC,98.6 bhp,5.0,4.78 Lakh,5.40
15,Maruti Swift DDiS VDI,Jaipur,2017,25000,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,4.78 Lakh,5.99
16,Renault Duster 85PS Diesel RxL Plus,Kochi,2014,77469,Diesel,Manual,First,20.45 kmpl,1461 CC,83.8 bhp,5.0,4.78 Lakh,6.34
17,Mercedes-Benz New C-Class C 220 CDI BE Avantgare,Bangalore,2014,78500,Diesel,Automatic,First,14.84 kmpl,2143 CC,167.62 bhp,5.0,4.78 Lakh,28.00
18,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.69 kmpl,1995 CC,190 bhp,5.0,47.87 Lakh,18.55
19,Maruti S Cross DDiS 200 Alpha,Bangalore,2015,55392,Diesel,Manual,Second,23.65 kmpl,1248 CC,88.5 bhp,5.0,4.78 Lakh,8.25
20,Audi A6 2011-2015 35 TFSI Technology,Mumbai,2015,55985,Petrol,Automatic,First,13.53 kmpl,1984 CC,177.01 bhp,5.0,4.78 Lakh,23.50
21,Hyundai i20 1.2 Magna,Kolkata,2010,45807,Petrol,Manual,First,18.5 kmpl,1197 CC,80 bhp,5.0,4.78 Lakh,1.87
22,Volkswagen Vento Petrol Highline AT,Kolkata,2010,33000,Petrol,Automatic,First,14.4 kmpl,1598 CC,103.6 bhp,5.0,4.78 Lakh,2.85
23,Honda City Corporate Edition,Mumbai,2012,51920,Petrol,Manual,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,4.78 Lakh,4.25
24,Nissan Micra Diesel XV,Hyderabad,2012,54000,Diesel,Manual,First,16.48 km/kg,1461 CC,63.1 bhp,5.0,4.78 Lakh,4.25
25,Maruti Alto K10 2010-2014 VXI,Hyderabad,2013,54000,Petrol,Manual,Second,20.92 kmpl,998 CC,67.1 bhp,5.0,4.78 Lakh,2.75
26,Honda WRV i-VTEC VX,Kochi,2018,37430,Petrol,Manual,First,17.5 kmpl,1199 CC,88.7 bhp,5.0,10.57 Lakh,9.90
27,Toyota Innova 2.5 V Diesel 7-seater,Mumbai,2007,262000,Diesel,Manual,Fourth & Above,12.8 kmpl,2494 CC,102 bhp,7.0,4.78 Lakh,4.00
28,Renault Duster 110PS Diesel RxZ Pack,Bangalore,2013,62000,Diesel,Manual,First,19.01 kmpl,1461 CC,108.45 bhp,5.0,4.78 Lakh,7.75
29,Toyota Corolla Altis G,Delhi,2012,87615,Petrol,Manual,First,14.53 kmpl,1798 CC,138.1 bhp,5.0,4.78 Lakh,6.75
30,Mahindra Ssangyong Rexton RX7,Bangalore,2013,72000,Diesel,Automatic,Second,11.18 kmpl,2696 CC,184 bhp,7.0,4.78 Lakh,12.50
31,Audi A6 2.7 TDI,Kolkata,2010,35000,Diesel,Automatic,First,12.4 kmpl,2698 CC,179.5 bhp,5.0,4.78 Lakh,11.50
32,Volkswagen Vento 1.6 Highline,Coimbatore,2014,55431,Petrol,Manual,Second,16.09 kmpl,1598 CC,103.5 bhp,5.0,12.33 Lakh,6.98
33,Maruti Wagon R LXI BSIII,Jaipur,2009,83816,Petrol,Manual,Second,14.0 kmpl,1061 CC,64 bhp,5.0,4.78 Lakh,1.85
34,Maruti Vitara Brezza ZDi Plus,Kochi,2018,50075,Diesel,Manual,First,24.3 kmpl,1248 CC,88.5 bhp,5.0,11.12 Lakh,8.63
35,Mahindra KUV 100 mFALCON G80 K6 5str AW,Delhi,2017,52000,Petrol,Manual,First,18.15 kmpl,1198 CC,82 bhp,5.0,4.78 Lakh,4.85
36,Mercedes-Benz M-Class ML 350 CDI,Pune,2013,85000,Diesel,Automatic,First,11.74 kmpl,2987 CC,254.8 bhp,5.0,4.78 Lakh,28.00
37,Volkswagen Polo Diesel Trendline 1.2L,Chennai,2013,62000,Diesel,Manual,First,22.07 kmpl,1199 CC,73.9 bhp,5.0,4.78 Lakh,5.00
38,Maruti Alto LXi,Delhi,2008,90000,Petrol,Manual,Second,19.7 kmpl,796 CC,46.3 bhp,5.0,4.78 Lakh,1.25
39,Tata Nano LX SE,Kochi,2014,19698,Petrol,Manual,First,25.4 kmpl,624 CC,37.5 bhp,4.0,4.78 Lakh,1.53

In [9]:
train_data_raw.to_csv('/content/data_clean/data_clean.csv', index=False)